/* global styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
}

/* header styles */
.header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
  /* margin-bottom: 20px; */
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
}

.regions {
  display: flex;
  align-items: baseline;
  margin-right: 10px;
}

.regions span {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.top-header {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.map-container {
  position: sticky;
  margin: 10px;
}

.map {
  border-radius: 12px;
  overflow: hidden;
}

/* article container styles */
.article-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  overflow: scroll;
}

/* article styles */
.content {
  display: flex;
  flex-direction: column;
}

.article {
  padding: 20px;
  margin-bottom: 20px;
}

.article h2 {
  font-size: 18px;
  margin-top: 0;
}

.article p {
  font-size: 14px;
  margin-bottom: 10px;
}

.author {
  padding-bottom: 25px;
}

.region-heading {
  font-weight: normal;
  cursor: pointer;
}

.region-heading.active {
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

/* slider styles */
.slider-container {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

/* Style for the range slider itself */
input[type="range"] {
  width: 100%;
  height: 8px;
  background: #ddd;
  outline: none;
  border-radius: 5px;
  opacity: 0.7;
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
}
