/* SIZES AND STYLING of images and logo for product gallery, product detail,and shopping cart pages*/
.logo {
  width: 400px;
}

.product-image-gallery {
  width: 300px;
  height: 300px;
  border: solid;
  border-color: black;
}

#product-image-product-detail {
  width: 600px;
  height: 600px;
  border: solid;
  border-color: black;
}

.product-image-shopping-cart {
  width: 200px;
  height: 200px;
  border: solid;
  border-color: black;
}

/* SPACING */

/* setting a width */
.description,
#glazing-select,
#pack-size,
#finalizing {
  width: 300px;
}

/* flexbox to center items across pages */
#product-gallery,
#product-product-detail,
#shopping-cart,
.product-shopping-cart,
.nav,
#choices {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav {
  margin-bottom: 30px;
}

/* flexbox to arrange price and add to cart button on product details page */
#finalizing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

/* adding padding and margin between elements on product gallery page */
.product-product-gallery {
  margin: 15px;
  padding: 10px;
}

/* getting rid of padding and margin between product details on shopping cart page, centering text and making line height smaller than default */
.product-details-shopping-cart {
  margin: 0px;
  padding-bottom: 40px;
  text-align: center;
  line-height: 5px;
}

.price-detail-shopping-cart {
  margin-top: 40px;
}

/* TEXT AND FONT  */
.remove-button,
.nav {
  text-transform: uppercase;
}

/* getting rid of link underlining */
a {
  text-decoration: none;
}

/* changing font */
p,
a,
h1,
h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

/* changing weight and sizes of font */
h1,
h2 {
  font-weight: normal;
}

p {
  font-size: large;
}

.remove-button {
  font-size: small;
}

/* BUTTON */
button {
  border-color: black;
  padding: 15px 60px;
  text-align: center;
  font-weight: bold;
}

/* HOVER CSS */
/* on hover, the navigation items, buttons, and products will turn yellow */
button:hover,
#nav-products:hover,
#nav-cart:hover,
.product-product-gallery:hover,
.product-product-gallery:hover {
  background-color: yellow;
}

/* on hover, the name of product turns bold in proudct gallery */
.product-product-gallery:hover .product-name {
  font-weight: bold;
}

/* on hover, the checkout button text should bold */
.checkout-button:hover {
  font-weight: bold;
}

/* on hover, the navigation text should bold */
#nav-products:hover,
#nav-cart:hover {
  font-weight: bold;
}
