/* SIZES AND STYLING of images and logo for product gallery, product detail,and shopping cart pages*/
.logo {
  width: 400px;
}

.product-image-gallery {
  width: 300px;
  height: 300px;
  border: solid;
  border-color: black;
}

#product-image-product-detail {
  width: 600px;
  height: 600px;
  border: solid;
  border-color: black;
}

.product-image-shopping-cart {
  width: 200px;
  height: 200px;
  border: solid;
  border-color: black;
}

/* TEXT AND FONT  */
.remove-button,
#nav-products,
#nav-cart {
  text-transform: uppercase;
}

/* getting rid of link underlining */
a {
  text-decoration: none;
}

/* changing font */
p,
a,
h1,
h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

/* changing weight and sizes of font */
h1,
h2 {
  font-weight: normal;
}

h1 {
  font-size: 36px;
}

p,
select {
  font-size: 27px;
}
h6 {
  font-size: 20px;
}

.remove-button {
  font-size: small;
}

/* BUTTON */
button {
  border-color: black;
  height: 55px;
  width: 205px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.glazing-select,
.pack-size {
  padding: 10px 20px 10px 20px;
}

/* HOVER CSS */
/* on hover, the navigation items, buttons, and products will turn yellow */
button:hover,
#nav-products:hover,
#nav-cart:hover,
.product-product-gallery:hover,
.product-product-gallery:hover {
  background-color: yellow;
}

/* on hover, the name of product turns bold in proudct gallery */
.product-product-gallery:hover .product-name {
  font-weight: bold;
}

/* on hover, the checkout button text should bold */
.checkout-button:hover {
  font-weight: bold;
}

/* on hover, the navigation text should bold */
#nav-products:hover,
#nav-cart:hover {
  font-weight: bold;
}

/* SPACING */
/* setting a width */
.description,
.glazing-select,
.pack-size,
#finalizing {
  width: 500px;
}

.nav {
  margin-bottom: 30px;
}

/* adding padding and margin between elements on product gallery page */
.product-product-gallery {
  margin: 15px;
  padding: 10px;
}

/* getting rid of padding and margin between product details on shopping cart page, centering text and making line height smaller than default */
.product-details-shopping-cart {
  margin: 0px;
  padding-bottom: 40px;
  text-align: center;
  line-height: 5px;
}

#nav-products,
#nav-cart {
  margin-right: 90px;
}

hr {
  width: 1000px;
  border-top: 7px solid #000000;
}

.intro-text h1 {
  padding-top: 10px;
}

.product-details-details {
  margin-right: 60px;
  margin-left: 65px;
}

.glazing-container {
  padding-bottom: 25px;
}

.pack-size-container {
  padding-bottom: 120px;
}

.product-gallery {
  width: 1100px;
}

.product-product-gallery {
  width: 303px;
}

#cart-item-container {
  width: 750px;
}

.cart-list {
  margin-left: 400px;
}

.cart-item {
  height: 300px;
  width: 700px;
}
.item-image {
  padding-right: 30px;
}

.product-details-shopping-cart {
  text-align: left;
  line-height: 30px;
}

/* FLEXBOX */
/* flexbox to center items across pages */
/* .shopping-cart,
.product-shopping-cart, */
.nav,
#choices {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* flexbox to arrange price and add to cart button on product details page */
#finalizing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.product-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-left: 100px;
  justify-content: space-between;
}

.product-details-container {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 60px;
}

.price {
  display: flex;
  justify-content: end;
  /* padding-top: 75px; */
}

.bottom-shopping-cart {
  display: flex;
  flex-direction: row;
}

.bottom-shopping-cart-total {
  width: 560px;
  display: flex;
  justify-content: center;
}

.cart-image-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price-detail-shopping-cart {
  padding-left: 100px;
  padding-top: 170px;
}
